<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1060371671663-kollioqeu1d244divefgaic8qlgr2iqj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1060371671663-kollioqeu1d244divefgaic8qlgr2iqj</string>
	<key>API_KEY</key>
	<string>AIzaSyB8ZAbhsd2rkAu9oQ-uQ5aarezPpef4tyY</string>
	<key>GCM_SENDER_ID</key>
	<string>1060371671663</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Yeolmok.PushNotifications</string>
	<key>PROJECT_ID</key>
	<string>pushapp-c4498</string>
	<key>STORAGE_BUCKET</key>
	<string>pushapp-c4498.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1060371671663:ios:01b61bc76b48734fc8bb9a</string>
</dict>
</plist>